dist: trusty
sudo: false
language: perl
branches:
  only:
    - "/travis/"
perl:
  - 5.30
before_install:
  - cpanm -n Devel::Cover::Report::Coveralls
script: perl Build.PL && ./Build build && cover -test -report coveralls
