name: master

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  perl:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl-version:
          - '5.14'
          - '5.18'
          - '5.28'
          - 'latest'

    container:
      image: perl:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@master
      - name: Configure git
        run: git config --system --add safe.directory '*'
      - name: perl -V
        run: perl -V
      - name: Install dependencies
        run: cpanm --quiet --notest --installdeps --with-recommends --with-configure .
      - name: Run build
        run: |
            perl Build.PL
            ./Build build
            ./Build test
      - name: Run Cover
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
            ./Build install
            HARNESS_PERL_SWITCHES=-MDevel::Cover DEVEL_COVER_SELF=1 ./Build test
            cover -report coveralls
        if: matrix.perl-version == 'latest'
